@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --font-league-spartan: 'League Spartan', sans-serif;
}

button,
[role="button"] {
  font-family: inherit;
  font-weight: inherit;
}